header {
  width: 100vw;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-light);
}

.brand-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-logo {
  width: 40px;
  height: 40px;
}

.search-bar {
  width: 250px;
  height: 40px;
  background-color: var(--bg-tertiary);
  padding-left: 0.75rem;
  border: none;
  border-radius: 1rem;
}

.search-bar:focus {
  border: none;
  outline: none;
}

.search-bar::placeholder {
  font-family: var(--font-poppins);
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-wrapper {
  position: relative;
}

.badge {
  color: var(--text-tertiary);
  font-size: var(--text-xsm);
  width: 20px;
  height: 20px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: -8px;
  background-color: var(--secondary-color);
  padding: 0.2rem;
  border: none;
  border-radius: 50%;
}

.user-profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--bg-tertiary);
  border-radius: 50%;
}

.red-dot {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 0;
  top: 0;
  background-color: var(--secondary-color);
}
